// Import the variables styles
@import "variables.scss";
// Import the reset stylesheet to make the styles look the same across browsers
@import "reset.scss";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
}
