// Import the variables styles
@import "variables.scss";
// Import the reset stylesheet to make the styles look the same across browsers
@import "reset.scss";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
}

.dragging * {
  cursor: col-resize;
  user-select: none;
}

select {
  appearance: none;
  background-color: transparent;
  margin: 0;
  padding: 0.5em;
  position: relative;
  border: 2px solid $light-gray;
}

.select {
  text-align: left;

  &__label {
    text-align: left;
    margin: 0.5em 0.5em;
    display: block;
  }

}

.checkbox {
  margin: 0.25em 0.5em;
  display: inline-block;
  text-align: left;
  
  &__input {

  }

  &__text {
    margin-left: 0.75em;
    display: inline-block;
    user-select: none;
  }

}

.slider {
  text-align: left;
  display: block;
  &__name {
    display: block;
    margin-bottom: 0.5em;
  }

  &__wrapper {
    display: flex;
  }

  &__clamp {
    flex: 0 0 auto;
    margin: 0 0.5em;
  }

  &__input {
    flex: auto;
  }

}

.input {
  text-align: left;
  &__name {
    display: block;
    margin-bottom: 0.5em;
  }

  &__value {
    width: 100%;
    padding: 0.7em 0.5em;
    border: 2px solid transparent;

    &:focus {
      outline: 2px solid $primary;
      border-color: transparent;
    }

    &:hover:not(:focus) {
      border: 2px solid gray;
    }
  }

}

.button {
  
  padding: 0.5em 1em;
  background-color: $primary;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 1.25em;
}