$primary: #1565c0;
$primary-light: #5e92f3;
$primary-dark: #003c8f;

$background: #FFFFFF;
$background-dark: #F3F3F3;
$background-darker: #d5d5d5;

$border: #e6e6e6;

$text: #000000;
$text-lighter: #2c3e50;